body {
  background-image: url('http://static.simpledesktops.com/uploads/desktops/2014/08/17/stealth.png');
  background-size: 100%;
}
h1 {
  font-size: 105px;
  background: rgba(255,255,255,0.9);
  font-weight: 200;
}
.interface {
  position: fixed;
 top: 50%;
 left: 53%;
 margin-top: -170px;
 margin-left: -340px;
}

#title{
  color: black;
}

#recent{
  position: fixed;
  top: 51.5%;
  left: 33%
}
