<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="steam.css">

    <meta charset="utf-8">
    <title>Steam mockup</title>
  </head>
  <body>
    <div class="interface">
    <center> <h1 id="title"> Steam Buddies </h1></center>
    <center>

      <form method="get" action="http://store.steampowered.com/search/?snr=1_4_4__12&term=" id="searchbox">
      <input type="text" class="text" id="term" name="displayterm" onfocus="if(this.value=='enter game title'){this.value=''}" onchange="$('realterm').value= (this.value=='enter game title') ? '' : this.value" onblur="if(this.value==''){this.value='enter game title';}" value="enter game title" maxlength="64" autocomplete="off">
      <!-- <input type="submit" value="Game Search" /> -->
      <button class="btn btn-primary" name="search">Find Games</button>
      </form>

  </center>


      <center> <button class="btn btn-primary btn-lg" name="button">Find Buddies</button>
        <form method="get" action="http://steamcommunity.com/id/steviethewizard/friends/coplay/" id="recent">
       <button class="btn btn-primary btn-lg" name="recentbutton" >Recent Buddies</button></center>
     </form>
  </div>
  </body>
</html>
